@import "node_modules/font-awesome/css/font-awesome";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./bootstrap_resets.scss";

//Components
@import "./components/form-editor.scss";
@import "./components/gradingForm.scss";
@import "./components/trivia_form/form.scss";

.clickable {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.loading-large {
  font-size: 5em;
  margin: .5em;
}

.loading-medium {
  font-size: 3em;
  margin: .3em;
}